.chooseUsSection {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    overflow: hidden;
}

.chooseUsSectionDiv1 {
    margin-bottom: 80px;
    width: 70%;
    margin-top: 80px;
}

.chooseUsSectionDiv2 {
    margin-right: -31%;
}

.chooseUsSectionDiv2 img {
    margin-top: 18%;
}

.why-choose-pizza i {
    margin: 0 20px 0 0;
}

@media(max-width:992px) {
    .chooseUsSectionDiv2 {
        display: none;
    }
}