 .bg {
     border-radius: 0 91px;
     background: url("../images/bg3.png"),
         var(--second--color);
 }

 .getDelivery {
     margin-bottom: 123px !important;
 }

 .getDelivery img {
     height: 336px;
     animation: move 2s infinite ease-in-out;
 }

 @keyframes move {
     0% {
         margin-left: -9%;
     }

     100% {
         margin-left: 5%;
     }
 }