.preloader {
    z-index: 5000 !important;
    height: 100vh;
    flex-direction: column;
    display: flex;
}

.preloader .svg {
    width: max-content;
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
}

.pizza {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s ease-in-out infinite forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}